In [ ]:
# from flask import Flask, request, render_template
 
# app = Flask("__name__")
 
# @app.route("/")
# def hello():
# 	return "this is flask"
 
# @app.route("/admin")
# def hello_admin():
# 	return "this is debug test"
 
# app.run()

 * Serving Flask app '__name__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit

In [ ]:
conda config --set debug True

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics
from flask import Flask, request, render_template
import re
import math
from utility.data_cleaning import *
from utility.data_preprocessing import *
from utility.model_building import *
from config.configuration import *



app = Flask(__name__)

@app.route("/")
def loadPage():
    return render_template('home (1).html')


@app.route("/", methods=['POST'])
def RiskPrediction():
    
    inputQuery1 = request.form['query1']
    inputQuery2 = request.form['query2']
    inputQuery3 = request.form['query3']
    inputQuery4 = request.form['query4']
    inputQuery5 = request.form['query5']
    inputQuery6 = request.form['query6']
    inputQuery7 = request.form['query7']
    inputQuery8 = request.form['query8']
    inputQuery9 = request.form['query9']
    inputQuery10 = request.form['query10']
    inputQuery11 = request.form['query11']
    inputQuery12 = request.form['query12']
    inputQuery13 = request.form['query13']
   
       
   

    data = [[inputQuery1, inputQuery2, inputQuery3, inputQuery4, inputQuery5,inputQuery6, inputQuery7, inputQuery8, inputQuery9, inputQuery10,inputQuery11, inputQuery12, inputQuery13]]
 
    # Create the pandas DataFrame 
    df = pd.DataFrame(data, columns = ['Jurisdiction', 'CoverageType', 'Deductible', 'Limit', 'InjuryCause','YearBuilt', 'Stories', 'Comments', 'ConstructionTypeDesc', 'ZipCode','E2Value', 'SquareFootage', 'BuildingLimit'])
    display(df)
    #import model and encoder  
    with open('./data/training/output/lgb_model.pkl', 'rb') as file:
        model=pickle.load(file)
    with open('./data/training/output/encoder.pkl', 'rb') as file:
        label_encoders=pickle.load(file)
    df_clean = clean_data(df)
    display(df_clean)
    for col in label_encoders:
        df_clean[col] = label_encoders[col].transform(df_clean[col])
    predicted_loss_amount= model.predict(df_clean)
    output = predicted_loss_amount[0]

    
    
    return render_template('home (1).html', Predicted_loss_amount=output, query1 = request.form['query1'], query2 = request.form['query2'],query3 = request.form['query3'],query4 = request.form['query4'],query5 = request.form['query5'],query6 = request.form['query6'],query7 = request.form['query7'],query8 = request.form['query8'],query9 = request.form['query9'],query10 = request.form['query10'],query11 = request.form['query11'],query12 = request.form['query12'],query13 = request.form['query13'])

#if __name__ == '__main__':
app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [28/Nov/2023 19:33:32] "GET / HTTP/1.1" 200 -

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,ClassCode:65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100,Standard,550637568,FixedDollar,2500

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012,8,65146,MasonryNonCombustible,20016,3640000.0,35000,5426100,Standard,550637568.0,FixedDollar,2500

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,Dist. of Columbia,BOP-Building,WATER,8,65146,MasonryNonCombustible,20016,3640000.0,35000,5426100,Standard,550637568.0,FixedDollar,2500,11

127.0.0.1 - - [28/Nov/2023 19:33:41] "POST / HTTP/1.1" 200 -

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,ClassCode:65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012\r\n,8,65146,MasonryNonCombustible,20016,3640000.0000,35000,5426100,Standard,550637568,FixedDollar,2500

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,WATER,2012,8,65146,MasonryNonCombustible,20016,3640000.0,35000,5426100,Standard,550637568.0,FixedDollar,2500

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,Dist. of Columbia,BOP-Building,WATER,8,65146,MasonryNonCombustible,20016,3640000.0,35000,5426100,Standard,550637568.0,FixedDollar,2500,11

127.0.0.1 - - [28/Nov/2023 20:05:35] "POST / HTTP/1.1" 200 -

In [1]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics
from flask import Flask, request, render_template
import re
import math
from utility.data_cleaning import *
from config.configuration import *
#import model and encoder  
with open('./data/training/output/rf_model.pkl', 'rb') as file:
    model=pickle.load(file)
with open('./data/training/output/encoder.pkl', 'rb') as file:
    label_encoders=pickle.load(file)

In [ ]:
print(label_encoders)

In [3]:
data = [['Dist. of Columbia', 'BOP-Building', 'FixedDollar - 2500.00', 'Standard - 550637568.00', 'WATER', '2012', '8', 'ClassCode:65146', 'MasonryNonCombustible', '20016', '3640000.0000','35000','5426100']]
df = pd.DataFrame(data, columns=['Jurisdiction', 'CoverageType', 'Deductible', 'Limit', 'InjuryCause', 'YearBuilt', 'Stories', 'Comments', 'ConstructionTypeDesc', 'ZipCode', 'E2Value', 'SquareFootage', 'BuildingLimit'])
df_clean = clean_data(df)
for col in label_encoders:
    df_clean[col] = label_encoders[col].transform(df_clean[col])
predicted_loss_amount= model.predict(df_clean)
output = predicted_loss_amount[0]
output

4569.426300000004

In [4]:
print(df_clean.shape)

(1, 15)

In [5]:
print(df_clean)

   Jurisdiction  CoverageType  InjuryCause  Stories  ClassCode  \
0             1             0            7        8         13

   ConstructionTypeDesc  ZipCode    E2Value  SquareFootage  BuildingLimit  \
0                     2       59  3640000.0          35000        5426100

   limit_type    Limit_val  Deductible_type  Deductible_val  YearGap
0           1  550637568.0                0            2500       11

In [6]:
print(df_clean.isnull().sum())

Jurisdiction            0
CoverageType            0
InjuryCause             0
Stories                 0
ClassCode               0
ConstructionTypeDesc    0
ZipCode                 0
E2Value                 0
SquareFootage           0
BuildingLimit           0
limit_type              0
Limit_val               0
Deductible_type         0
Deductible_val          0
YearGap                 0
dtype: int64